<h2 mat-dialog-title>{{title}}</h2>
<mat-dialog-content class="mat-typography">
    <div class="example-container">
        <form [formGroup]="registroForm">
            <div class="example-form-fields">
                <mat-form-field class="form-field-spacing" appearance="fill">
                    <mat-label>Nombre</mat-label>
                    <input matInput autocomplete="off" formControlName="nombre">
                </mat-form-field>
                <mat-form-field class="form-field-spacing" appearance="fill">
                    <mat-label>Título</mat-label>
                    <input matInput autocomplete="off" formControlName="titulo">
                </mat-form-field>
            </div>
            <div class="example-form-fields">
                <mat-form-field class="form-field-spacing" appearance="fill">
                    <mat-label>Calidad</mat-label>
                    <input type="text" matInput autocomplete="off" formControlName="calidad">
                </mat-form-field>
                <mat-form-field class="form-field-spacing" appearance="fill">
                    <mat-label>Entregable</mat-label>
                    <input type="text" matInput autocomplete="off" formControlName="entregable">
                </mat-form-field>
            </div>
            <div class="example-form-fields">
                <mat-form-field class="form-field-spacing2" appearance="fill">
                    <mat-label>Pendiente</mat-label>
                    <input matInput autocomplete="off" formControlName="pendiente">
                </mat-form-field>
                <mat-form-field class="form-field-spacing" appearance="fill">
                    <mat-label>Clasificación</mat-label>
                    <input type="number" matInput autocomplete="off" formControlName="clasificacion">
                </mat-form-field>
            </div>
        </form>
    </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancelar</button>
    <button mat-button (click)="guardarEntregableAdministrativo()" >Crear</button>
</mat-dialog-actions>

