<div class="dashboard">
    <mat-form-field appearance="outline" class="custom-mat-field">
        <mat-label>Buscar</mat-label>
        <input matInput (input)="onSearchInputChange($event)">
        <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
    
    <div class="menu">
        <ul>
            <li><a href="investigadores/perfil" mat-icon-button color="primary" aria-label="Perfil" class="tooltip">
                <mat-icon>person</mat-icon>
            </a></li>
            <li><a href="investigadores/participacion" mat-icon-button color="primary" aria-label="Participacion"class="tooltip">
                <mat-icon>group</mat-icon>
            </a></li>
            <li><a href="investigadores/consultas" mat-icon-button color="primary" aria-label="Consultas" class="tooltip">
                <mat-icon>description</mat-icon>
            </a></li>
            <li><a href="investigadores/proyectos" mat-icon-button color="primary" aria-label="ProyectosyProductos" class="tooltip">
                <mat-icon>folder</mat-icon>
            </a></li>
            
            <li>
                <a  mat-icon-button color="primary" aria-label="Notificaciones" class="tooltip">
                  <mat-icon>notifications_outline</mat-icon>
                </a>
              </li>
              
            <li>
                <a href="#" mat-icon-button color="primary" aria-label="Cerrar Sesion" class="tooltip" (click)="logout()">
                  <mat-icon>exit_to_app</mat-icon>
                </a>
              </li>              
        </ul>
    </div>
    <router-outlet></router-outlet>
</div>